<div class="edit_area">
  <div>
    ＜変更前＞
  </div>
  <div>
    <%= @tweet.content %>
  </div>
  <div class="tweak row">
    <%= form_for(@tweet) do |form| %>
      <div class="tweet_title ">
        <textarea rows="4" col="140" name="tweet[content]" id="tweet_content"placeholder="140文字以内"></textarea>
      </div>
      <input type="submit" name="commit" value="編集する" data-disable-with="Create Tweet">
    <% end %>
  </div>
</div>
