<%= notice %>
<table>
  <tr>
    <td>
      <%= image_tag @user.image_url.to_s, size: "300x300" %>
    </td>
    <td>
      <h3><%= @user.name %></h3>
      <p>メールアドレス: <%= @user.email %></p>
    </td>
  </tr>
</table>
