<div class="jumbotron">
  <div class="container">
    <h1>ぶつぶつ</h1>
    <p>人目を気にせずひとりごと</p>
    <p>
      <a class="btn btn-primary btn-lg" href="/tweets" role="button">ぶつる</a>
    </p>
  </div>
</div>
