body li {
  list-style: none;
}
.tsubu-form {
  padding: 10px;
  background-color: #a5d199;
  max-width: 100%;
  margin: 0px auto;
}

.tweet {
  margin: 0px auto;
  border: 1px solid #ccc;
  background-color: white;
}

.tweet_tr {
  border: solid 1px #ccc;
}
.list {
  width: 100%;
  padding: 10px;
  min-height: 50px;
  height: auto !important;
  height: 50px;
  word-wrap: break-word;
  border-bottom: 1px solid #ccc;
}

body {
  background-color: rgb(233, 255, 224)
}
.message {
  color: red;
  text-align: center;
}
footer {
  position: relative;
  margin-bottom: 0px;
  width: 100%;
  height: 20px;
  background-color: #a5d199;
  text-align: center;
}
footer p {
  margin-bottom: 0px;
}
.panel-margin {
  margin-top: 10px;
}
.tsubu-margin {
  margin-bottom: 10px;
}
